<mat-form-field appearance="fill">
    <mat-label>Select House</mat-label>
    <mat-select [(ngModel)]="selectedHouse" (selectionChange)="fetchHouseCharacters()">
      <mat-option *ngFor="let house of houses" [value]="house">{{ house }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="character-list">
    <mat-card *ngFor="let character of characters">
      <img mat-card-image [src]="character.image" alt="{{ character.name }}" />
      <mat-card-title>{{ character.name }}</mat-card-title>
      <mat-card-subtitle>{{ character.house }}</mat-card-subtitle>
      <button style="margin-top: 9px;" (click)="navigateToCharacterDetails(character.id)">View Details</button>
    </mat-card>
  </div>
  